// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------

// Colors
$theme-color: #e8505b;
$title-color: #0a1f44;
$alter-title-color: #0b185f;
$contact-color: #2d334d;
$project-color: #00394f;
$pra-color: #555555;
$eash-color: #696969;
$white-color: #ffffff;
$black-color: #000;
$fo-color: #f0f0f0;
$placeholder-color: #999999;
$date-color: #888888;
$banner-color: linear-gradient(90deg, #f5f5f5 0%, #f5f5f5 100%);
$border-color: rgba(255, 255, 255, 0.2);
$border-color-1: #f0f0f0;
$border-color-2: #f6fafd;
$border-color-3: #e5ecf6;
$border-color-4: #f6f9fb;
$border-color-5: #ebebeb;
$border-color-6: #2E3B42;
$fa-color: #fafafa;
$footer-color: #263238;
$paginations-color: #2f2838;
$paginations-bdr-color: #edf6ff;
$tag-color: #203260;
$star-color: #ffb432;
$pagination-color: #003996;
$select-bg-color: #f7fbff;

// social icon color
$facebook: #3b5998;
$google-plus: #db4437;
$dribble: #e94c89;
$vimeo: #23b6ea;
$printerest: #cb1f27;
$twitter: #23b6ea;
$instagram: #db4437;
$dribbble: #e94c89;
$vimeo: #3b5998;
$behance: #0084ff;

//== Typography

// font-family

$global-font: "Roboto",
sans-serif;
// $second-global-font:
// $title-font:
// $section-pra:
// $text-font:

// font-size

$fs-base: 16px !default;

$fs-h1: 60px;
$fs-h2: 50px;
$fs-h3: 36px;
$fs-h4: 30px;
$fs-h5: 24px;
$fs-h6: 20px;

$fs-22: 22px;
$fs-18: 18px;
$fs-16: 16px;
$fs-15: 15px;
$fs-14: 14px;
$fs-12: 12px;

//  transition
$transition: all 0.3s ease;
$transitions: all 0.5s ease;