.footer {
  background-color: RGB(38, 50, 56) !important;
  @include background-image(home/footer, bg, png, transparent, no-repeat);
  background-blend-mode: normal;
  background-size: unset;
  &__body {
    &__item {
      margin-bottom: 50px;

      @include breakpoint(lg) {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    &-title {
      margin-bottom: 15px;
      @include breakpoint(md) {
        margin-bottom: 16px;
      }
      @include breakpoint(lg) {
        margin-bottom: 19.5px;
      }
      @include breakpoint(xl) {
        margin-bottom: 23px;
      }
      h6 {
        font-size: 22px;
        @extend %text-bold, %text-capitalize;
        line-height: 1.5;
        color: $white-color;
      }
    }
    &-logo {
      letter-spacing: 0.2px;
      margin-bottom: 15px;
      h4 {
        @extend %text-uppercase, %text-bold;
        font-size: 30px;
        color: $title-color;
        span {
          color: $theme-color;
        }
      }
    }
    &-ltext {
      p {
        font-size: $fs-16 !important;
        @extend %text-regular;
        line-height: 1.8;
        color: $white-color;
      }
      a {
        padding: 0;
        margin-top: 0;
        background-color: transparent;

        @include breakpoint(sm) {
          margin-top: 2px;
        }
        @include breakpoint(md) {
          margin-top: 4px;
        }
        @include breakpoint(lg) {
          margin-top: 6px;
        }
        @include breakpoint(xl) {
          margin-top: 8px;
        }

        span {
          padding: 0;
        }

        &:hover {
          color: $theme-color;
        }
      }
    }
    &-inner {
      @extend %flex;
      flex-wrap: nowrap;

      &:hover {
        .footer__content-thumb {
          img {
            @include add-prefix(transform, scale(1.05));
          }
        }
        .footer__content-mtext {
          a {
            color: $theme-color;
          }
        }
      }
    }
    &-thumb {
      // margin-right: 12px;
      width: 100px;
      overflow: hidden;

      img {
        @include transition($transition);
      }
    }
    &-mtext {
      padding-left: 15px;
      width: calc(100% - 100px);
      h6 {
        font-size: $fs-16 !important;
        @extend %text-medium, %text-capitalize;
        line-height: 1.5;
        color: $white-color;
        margin-bottom: 5px;
        a {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      span {
        font-size: $fs-16 !important;
        @extend %text-light, %text-capitalize;
        line-height: 1.5;
        color: $white-color;
      }
    }
    &-item {
      @extend %p-rel;
      margin-bottom: 12px;
      padding-bottom: 15px;
      border-bottom: 1px solid $border-color-6;

      @include breakpoint(sm) {
        margin-bottom: 15px;
        padding-bottom: 17px;
      }
      @include breakpoint(md) {
        margin-bottom: 17px;
        padding-bottom: 19px;
      }
      @include breakpoint(lg) {
        margin-bottom: 19px;
        padding-bottom: 21px;
      }
      @include breakpoint(xl) {
        margin-bottom: 21px;
        padding-bottom: 23px;
      }

      &:last-child {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
    &-rtext {
      p {
        font-size: $fs-16 !important;
        @extend %text-regular;
        line-height: 1.5;
        color: $white-color;
      }
      a {
        margin-top: 25px;
        padding: 0;
        background-color: transparent;
      }
    }
    &-input {
      margin-top: 25px;
      input {
        padding: 18px 25px 20px 25px;
        color: $white-color;

        &::placeholder {
          font-size: $fs-16 !important;
          @extend %text-regular;
          line-height: 1.8;
          color: $white-color;
        }
      }
    }
  }
  .comon-btn--footer {
    margin-top: 20px;
    border: none;
  }
  &__top__item {
    margin-bottom: 40px;

    @include breakpoint(lg) {
      margin-bottom: 0;
    }
  }
  &__bottom {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 33px;
    border-top: 1px solid rgb(46, 59, 66);
    p {
      font-size: $fs-16;
      @extend %text-regular, %text-capitalize;
      color: $white-color;

      span {
        a {
          color: $theme-color;

          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }
}
