.sponsor {
  background-color: $theme-color;

  &__wrapper {
    border-top: 1px solid rgba(226, 233, 247, 0.2);
    padding: 20px 0;

    @include breakpoint(sm) {
      padding: 24px 0;
    }
    @include breakpoint(md) {
      padding: 34px 0;
    }
    @include breakpoint(lg) {
      padding: 44px 0;
    }
    @include breakpoint(xl) {
      padding: 53px 0;
    }
  }
  &__inner {
    @extend %text-center;
    img {
      margin: 0 auto;
    }
  }
  &--bdr-bottom {
    background-color: $white-color;
    .sponsor__wrapper {
      border-bottom: 1px solid #e2e9f7;
      border-top: none !important;
    }
  }
}
